# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Data and Outputs
data/
outputs/
temp_metrics.json
temp_metrics_2.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Tests
.pytest_cache/
.tox/
.coverage
htmlcov/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
